body{
	background-color: #f4f4f4;
	color: black;
	font-family: Arial, Helvitica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container{
	width: 80%;
	margin:auto;
	overflow: hidden;

}

#main-header{
	background-color:coral;
	color: #fff;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 40px;
	margin: 0;
}

#navbar{
	background-color: black;
	color: #fff;

}

#navbar ul{
	margin: 0;
	padding: o;
	list-style: none;
	padding-top: 3px;
}

#navbar li{
	display: inline;
	padding-right: 2px;
}

#navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}


#showcase{
	background-image: url("https://image.freepik.com/free-vector/modern-dark-abstract-background-with-red-light_55870-87.jpg");
	text-align: center;
}

#showcase h1{
	color: #fff;
	line-height: 50px;
	font-size: 50px;
	padding-top: 30px;
}

#main-section{
	position: relative;
}

#main{
	float: left;
	font-family: Advent Pro, serif;
    font-size: 48px;
	font-size: 22px;
	width: 50%;
	padding: 0 50px;
	box-sizing: border-box;
	background: white;
	color: black;
	margin-left: 50px;
	position: absolute;
}

#sidebar{
	float: right;
	width: 30%;
	background: coral;
	color: #fff;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 50px;
	
}

#content{
	padding-left: 200px;
	width: 70%;
	padding-bottom: 10px;
	padding-left: 16%;
	margin-bottom: 10px;
	margin-top: 120px;
}

#content h1{
	color: black;
}

#content p{
	font-family: Advent Pro, serif;
    font-size: 20px;
	color: black;
	line-height: 1.3em;
}

#content img{
	padding: 10px;
}

#img1{
	align-self: left;
}

#img2{
	align-self: right;
}

#per-side{	
	width: 10%;
	position: absolute;
	color: green;
	text-decoration: none;
}

#per-side ol{
	font-size: 13px;
	color: green;
	text-decoration: none;
}

#per-side a{
	color: black;
	text-decoration: none;
}

#main-footer{
	background: black;
	color: #fff;
	text-align: center;
	padding: 0.1px;
	margin-top:60px;
}

#part-content{
	font:black;
	width: 50%;
	padding-left: 200px;
	width: 70%;
	padding-bottom: 10px;
	padding-left: 15%;
	margin-bottom: 10px;
	position: absolute;
}

#part-content p{
	font-family: Advent Pro, serif;
    font-size: 20px;
    
}
